doctype
html
  head
    title #{title}
    meta(charset="UTF-8")
    link(rel="stylesheet" href="#{root}/stylesheets/style.css")
  body
    h1 #{title}
    p: a(href="i1") admin app 1
    p#targ
    script(src='#{root}/javascripts/app.js')
