
.clear {
  clear: both;
}

.codeContainer {
  height: 100%;
  width: 50%;
  float: left;
  position: relative;
}

.codeContainer textarea {
  width: 100%;
  height: 100%;
  border: none;
  border-right: 1px solid grey;
  font-family: monotype;
  font-size: 90%;
  padding: 10px;
  box-sizing: border-box;
}

.codeLabel {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index:999;
}

#CSSContainer, #JSContainer {
  display: none;
}

iframe {
  height: 100%;
  width: 100%;
  position: relative;

  border: none;
}

.selected {
  background-color: grey;
}

.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('../img/page-loader.gif') 50% 50% no-repeat rgb(249,249,249);
}