extends layout
block content
  .animated.directory(role='main')
    .animated.navigation(role='navigation')
      ul
        li.active.wide(data-state='nav')
          a(href='#') nav
        li.wide(data-state='initial')
          a(href='#') initial
        li.wide
          a(data-state='initial', href='#') test3
    .animated.sidebar(role='sidebar')
      ul
        li One
        li Two
        li Three
        li Four
    #stage_wrapper.animated(role='content')
      .stage_box#stage_left
        if usertoken
          if (usertoken.permissions=='admin')
            include pages/admin/stageleft
      .stage_box#stage_main
        if servertoken
          p servertoken found!
        if usertoken
          if (usertoken.permissions=='admin')
            include pages/admin/main
          else
            include pages/mod/main
          end
        else
          include pages/pub/main
        end
        div
          p#targ
    .padded.animated(role='bottomdrawer')
      p
        a(data-state='bottomdown', href='#') bottomdown
      p
        a(data-state='bottomdown_navopen', href='#') bottomdown navopen
  // end main
  if usertoken
    .padded.animated(role='presentation')
      if (usertoken.permissions=='admin')
        include pages/admin/prespage
      else
        include partials/prespage
  else
    #splash.animated(role='presentation')
      include partials/splashpage
  end      
  block msgbox
    #msgModal.msgbox.simpleModal
      h3.msg_title
      p.undisplay
        | Name:
        input#docname(type='text')
        | .md
      .msgbox_footer
        a#cancelMsg.msgbox_butt.msgct Cancel
        a#acceptMsg.msgbox_butt.msgct Accept


