doctype
html
  head
    title example applet
    meta(charset="UTF-8")
    link(rel="stylesheet" href="#{root}/stylesheets/style.css")
  body
    h1 example applet
    p#targ
    script(src='/javascripts/app.js')
