span(id='loginctl1' data-state='initial') Login 
.stuff
  h1 Unistack
  p
    | A distributed asset management system.
ul#appC.tiles
  li#tile1.tiles__tile(data-tile='1') features
  li#tile2.tiles__tile(data-tile='2') dependencies
  li#tile3.tiles__tile(data-tile='3') roadmap
  li#tile4.tiles__tile.restricted(data-tile='4') register
  li#tile5.tiles__tile.restricted(data-tile='5') help
  li#tile6.tiles__tile.restricted(data-tile='6') contact
ul#appV.content
  li#1.content__item
    .content-wrap
      h3 Apples
      p
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et reprehenderit nostrum nisi aliquam nemo non fugit, minus, ex ullam vel minima libero, eius labore. Veritatis odit blanditiis quidem amet accusantium.
      span.content-back  back 
  li#2.content__item
    .content-wrap
      h3 Bananas
      p
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae impedit aperiam nemo quos fuga illum porro doloribus quisquam quidem reprehenderit, hic tempora, illo id provident aliquam quo officia ea voluptatum.
      span.content-back  back 
  li#3.content__item
    .content-wrap
      h3 Cucumbers
      p
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias nam nesciunt maiores. Nesciunt explicabo ea deserunt facere sunt, autem, reiciendis nobis, velit accusantium laudantium quis non ratione aspernatur. Eum, doloribus?
      span.content-back  back 
  li#4.content__item
    .content-wrap
      h3 Spinach
      p
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi velit iure expedita quis, blanditiis. Consectetur incidunt distinctio dolor ullam beatae cum maiores quas pariatur amet, temporibus ad commodi dolorem provident.
      span.content-back  back 
  li#5.content__item
    .content-wrap
      h3 set 5
      p
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi velit iure expedita quis, blanditiis. Consectetur incidunt distinctio dolor ullam beatae cum maiores quas pariatur amet, temporibus ad commodi dolorem provident.
      span.content-back  back 
  li#6.content__item
    .content-wrap
      h3 set 6
      p
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi velit iure expedita quis, blanditiis. Consectetur incidunt distinctio dolor ullam beatae cum maiores quas pariatur amet, temporibus ad commodi dolorem provident.
      span.content-back  back 
