div.header
  h2 Socket.IO and NEDB testing
h3 basic tests  
div#ctlSet_1
  button(class="funcbutt" id="ctl_test") test
  button(class="funcbutt green" id="ctl_create") create  
  button(class="funcbutt blue" id="ctl_list") list
  button(class="funcbutt pink" id="ctl_remove") remove
div.responsive
  div#set_two
    h3 todolist tests
    div(class="flexbox flex_onethird-twothirds" id="set_two__group_one")
      div.col
        div.overlay_box
          h3 some title
          p tesing routes and responses for data-exchange and binding.
      div.col.clearfix
        div.stage_box
          input(class='listInput' type='text' placeholder='Things to do!')
          ul#list
    div(class="flexbox flex_three-onethirds" id="set_two_group_two")
      div.col    

      div.col
        h3 infobox 1
      div.col
         h3 infobox 2

