#control_test
  ul
    li: a(href='#', data-state='initial') initial
    li: a(href='#', data-state='nav') nav
    li: a(href='#', data-state='sidebar') sidebar            
    li: a(href='#', data-state='sidebar_extend') sidebar extend
    li: a(href='#', data-state='bottom') bottom drawer
    li: a(href='#', data-state='halfpres') half presentation