doctype
html
  head
    title unistack
    meta(charset="UTF-8")
    link(rel="stylesheet" href="/stylesheets/style.css")
  body
    h1 unistack main page
    h2 applets
    div
      ul
        li: a(href="/blog") blog applet
    p#targ
    script(src='/javascripts/app.js')
