doctype
html
  head
    title blog applet
    meta(charset="UTF-8")
    link(rel="stylesheet" href="#{root}/stylesheets/style.css")
  body
    span: a(href="/") <- back
    h1 blog applet
    p#targ
    script(src='/javascripts/app.js')
