table(id="table-basic" class="coltable")
  thead
    tr
      th#setlabel Dataset name
    tr
      each val, index in tabledata.fields
        th(id="column-#{index}") #{Object.keys(val)[0]}    
  tbody
    each record in tabledata.records  
      tr
        each val, index in tabledata.fields
          td(id="item-#{index}") #{record[Object.keys(val)[0]]}